[Desktop Entry]
Name=QrcoPy
Type=Application
Comment=instant grcode generation
Exec=/home/david/Programmation/Projets/QrcoPy/qrcopy
TryExec=/home/david/Programmation/Projets/QrcoPy/qrcopy
Icon=/home/david/Programmation/Projets/PythonMenu/MyMenu/ui/qrcode.png
Keywords=qrcode; python3;
